/*  your css code here. If applicable */
table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table {
      background-color: yellow;
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 40px auto;
    }
    caption {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 8px;
    }
    th, td {
      padding: 8px 16px;
    }